<div style="margin-top: 20px">
  <h2 style="text-align: center">Welcome to DHIS2 Data Validation Demo</h2>
  <div *ngIf="indicator">
    <ngx-data-validation
      [indicator]="indicator"
      [validationRuleGroup]="selectedValidationRuleGroup"
      [dataElements]="dataElements"
      [parentOu]="parentOu"
      [childrenOus]="childrenOus"
      [period]="period"
      [dateDictionary]="dateDictionary"
      [indicatorDataElements]="indicatorDataElements"
      [analyticsPeriods]="analyticsPeriods"
      [marginTopViolation]="marginTopViolation"
      [violationBgrColor]="violationBgrColor"
    ></ngx-data-validation>
  </div>
</div>
